.chat-body-bottom{
    display:flex;
    padding:1% 0 2% 0;
    height:100%;
}
.chat-input{
    width:90%;
    padding: 0 0 0 1%;
}
.chat-send{
    width:10%;
    padding:0 1% 1% 3%;
    font-size:30px;
}
.form{
    height: 100%;
}
.msg-box{
    border:1px solid black;
    width:100%;
    font-size:20px;
    padding:1%;
    height:50%;
    border-radius: 20px;
    font-family:'Arial';
    overflow:hidden;
}
#submit-btn-send{
    width:100%;
    height: 90%;
    text-align: center;
    font-size:40px;
    background-color: white;
}
#faRight{
    margin:0 0 0 30%;
    cursor: pointer;
}
#faRight:hover{
    color:rgb(67, 162, 194);
}