.chat-body-div{
    width:100%;
    height:100%;
    border-left: 1px solid black;
}
.chat-body-header-div{
    width:100%;
    height:10%;
    padding:1% 0 1% 0;
    background-color:white;

}
.chat-body-msg-div{
    /* height: 70%; */
    height:87%;
    width:100%;
    /* overflow: scroll; */
    /* padding:10%; */
    overflow-y: auto;
    white-space: nowrap;
    background-image: url('../images/bg-6.jpg');

}
.chat-body-msg-div::-webkit-scrollbar{
    /* width:20%; */
    background-color: red;
}
.chat-body-msg-div::-webkit-scrollbar-thumb{
    width:10px;
    background-color: blue;
}
.chat-body-bottom-div{
    width:100%;
    height:15%;
    max-height:15%;
}
.chat-body-msg-div::-webkit-scrollbar{
    width:1px
}
.chat-body-header-div:hover{
    background-color: #acacb4;
}