.profile-header{
    width:100%; 
    background-color: #daf5da;
    display: flex;
}
.profile-header-1{
    display:flex;
    width:100%;
    padding:1% 1% 0 1%;
}
.profile-header-2{
    padding:5%;
    font-size:25px;
}
.profile-head-1{
    padding:2%;
}
.profile-head-image{
    width:60px;
    height:60px;
    border-radius: 50%;
}
#pro-div{
    border-radius: 10px;
}

.profile-head-2{
    width:100%;
    font-family: 'Oswald';
    font-size:20px;
    padding:4% 2% 2% 2%;
}
.drop-down{
    position:absolute;
    top:10%;
    left:11%;
    color:white;
    background-color: rgb(52, 51, 51);
    padding:1%;
    width:20%;
    font-family: 'Oswald';
    border-radius: 10px;
}
.drop-con-1,.drop-con-2,.drop-con-3{
    display:flex;
    justify-content: space-between;
    margin:4% 0 6% 0;
    padding:3%;
    cursor: pointer;
    border-radius: 10px;
}
.drop-con-1:hover{
    background-color: rgb(33, 32, 32);
}
.drop-con-2:hover{
    background-color: rgb(33, 32, 32);
}
.drop-con-3:hover{
    background-color: rgb(33, 32, 32);
}
#bars-icon{
    cursor: pointer;
}
#bars-icon:hover{
    color:azure
}
.chat-body-profile{
    width:100%;
    height:100%;
}
.search-icon-div{
    padding:2% 0 0 3%;
    width:10%;
}
#cancel-search{
    transform: rotate(45deg);
    font-size: 18px;
    padding:2% 0 1% 0;
}
.search-input{
    width:100%;
    height: 50%;
    display:flex;
    background-color: white;
    border-radius: 10px;
    padding:2%;
}
.find-user{
    width:90%;
    outline: none;
    font-family: "Oswald";
    font-size:18px;
    padding:1%
}
